:root {
  --oxford-blue: #081540;
  --june-bud-green: #bfd568;
  --straw-yellow: #e9d967;
  --china-rose: #9c4c63;
  --razzmic-berry-purple: #8a4f7d;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: black;
}

label {
  background-color: black;
}

footer {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

/* footer h5 {
  color: white;
} */

.navbar-toggler-icon {
  background-color: var(--june-bud-green) !important;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}

footer .wrapper {
  width: 30%;
}

#about {
  background-image: url("../src/assets/images/tom-barrett-2t60-JYQ5pk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#projects {
  background-image: url("../src/assets/images/ray-fragapane-PkKIVq1CUuY-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#resume {
  background-image: url("../src/assets/images/pipe-a-WQTwsgq_mxg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#contact-form {
  background-image: url("../src/assets/images/jc-gellidon-TiynDEOiwRc-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

#resume span {
  background-color: black;
}

.navActive {
  background-color: rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 0 2vh #7e999c;
}

.parent {
  width: 45rem;
  margin: 1rem;
  height: 20rem;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

div > span {
  display: none;
  font-size: 35px;
  color: #ffffff !important;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  /*text-decoration: none;*/
}

p > span {
  display: block;
}

.parent:hover .child,
.parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before,
.parent:focus .child:before {
  display: block;
  border: #7e999c 1rem;
}

.parent:hover span,
.parent:focus span {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(126, 153, 156, 0.75);
}

.child {
  filter: grayscale(75%);
}

/* .btn {
  background-color: #7e999c;
  color: white;
} */

/*images for profile*/
#proj-pic-1 {
  background-image: url("../src/assets/images/d&dTracker.png");
}

#proj-pic-2 {
  background-image: url("../src/assets/images/swap-squad.png");
}

#proj-pic-3 {
  background-image: url("../src/assets/images/run-buddy.png");
}

#proj-pic-4 {
  background-image: url("../src/assets/images/README-zing.png");
}

#proj-pic-5 {
  background-image: url("../src/assets/images/test-rabbit.png");
}

#proj-pic-6 {
  background-image: url("../src/assets/images/storm-ly.png");
}

#proj-pic-rolodeck {
  background-image: url("../src/assets/images/rolodeck.png");
}

#resume-img {
  background-image: url("../src/assets/images/jacob-corum-resume-oct-2020.png");
  background-size: cover;
  background-position: left;
  margin: auto;
  height: 50vw;
  width: 50vw;
}

#contact-form {
  padding: 0 2vh 5vh 2vh;
  height: 50rem;
}

/*utilities*/
.bg-blue {
  background-color: var(--oxford-blue) !important;
}

.box-bg-red {
  background-color: rgba(0, 0, 0, 0.075) !important;
}

.icon-red {
  fill: var(--china-rose) !important;
}

.border-green {
  border: 3vh ridge #7e999c !important;
}

/* .pt-yellow {
  color: #f8f9fa !important;
} */

.st-purple {
  color: var(--razzmic-berry-purple) !important;
}

.shadow-green {
  text-shadow: 0 0 15vh #7e999c, 0 0 10vh #7e999c, 0 0 5vh #7e999c;
}

.box-shadow-purple {
  box-shadow: inset 0 0 15vh #7e999c, inset 0 0 10vh #7e999c,
    inset 0 0 5vh #7e999c;
}
